<th:block>
    <div class="jumbotron ml-3 mr-3 min-height">

        <th:block sec:authorize="hasRole('ROLE_ROOT')">
            <h1 class="text-lg-center font-weight-bold" th:text="|Hello, ${#authentication.getName()}!|"></h1>
        </th:block>
        <th:block sec:authorize="hasRole('ROLE_USER') && !hasRole('ROLE_ROOT')">
            <h1 class="text-lg-center font-weight-bold" th:text="|Welcome ${#authentication.getName()}!|"></h1>
        </th:block>

        <h2 class="ml-5 pl-5">
            This site is based on the book - Adam Roman - A Study Guide to the ISTQB&reg;
            <br/>
            Foundation Level 2018 Syllabus 2018 Springer International Publishing 1.
            <br/>
            <br/>
            It contains all questions, answers and explanation.
            <br/>
            <br/>
            The application has "random questions" option, that remembers witch random
            <br/>
            question you have seen and give you, every time a new set of questions.
<!--            <br/>-->
<!--            <br/>-->
<!--            <strong>You might experience a little delay (5-20 sec.) caused by DB connection.</strong>-->
            <br/>
            <br/>
            Good luck.
        </h2>
    </div>
</th:block>
