<th:block>
    <form class="form mx-auto" th:action="@{/questions/set/exam}" method="post">

        <th:block th:include="~{fragments/sidenav}"></th:block>

        <div class="main container justify-content-center bg-color mt-5" style="min-height: 481px">
            <h1 class="font-weight-bold pl-5 ml-5" th:text="|Results|"></h1>

            <th:block th:each="item, iter : ${questions.correctAnswers}">
                <div class="container justify-content-center question pb-2">
                    <h5 th:text="|${iter.index + 1}. ${item.question}|"></h5>
                    <ul>
                        <th:block th:each="setOfAnswers : ${item.answers}">
                            <li th:text="|${setOfAnswers.symbol}) ${setOfAnswers.description}|"></li>
                        </th:block>
                    </ul>
                    <h6 th:if="${item.valid}" style="color: green"
                        th:utext="|Correct answer is: ${item.correctAnswer} <br/>   ${item.explanation}"></h6>
                    <h6 th:unless="${item.valid}" style="color: red"
                        th:utext="|Correct answer is: ${item.correctAnswer} <br/>   ${item.explanation}"></h6>
                </div>
            </th:block>

            <p class="text-lg font-weight-bold p-3 ml-3 w-25 bg-success"
               th:text="|Your points is ${questions.score} out of 10!|"></p>

            <a th:href="@{/questions/all}" class="btn btn-lg btn-success text-center mt-3 mb-3"
               style="margin-left:25rem">Try again</a>
        </div>
    </form>
</th:block>